
body {
    font-family: 'Lora', serif;
}

.question-button {
    background-color: #eb8934;
    border-radius: 15px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: bold;
    color: white;
    flex-direction: column;
}

.back-button {
    background-color: #fff;
    border-radius: 15px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: bold;
    color: #eb8934;
    flex-direction: column;
    border: 3px solid #eb8934;
}
