
body {
    font-family: 'Lora', serif;
}

#name-input {
    text-align: center;
    height: 50px;
    font-size: 24px;
    border-radius: 15px;
    border: 5px solid #eb8934;
    padding: 0;
}

#name-submit-button {
    background-color: #eb8934;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

#name-submit-button:hover {
    cursor: pointer;
}

#buzzer-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#buzzer {
    background-color: red;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    position: absolute;
    border-radius: 10px
}

#buzzer:hover {
    cursor: pointer;
}

.input-row {
    border-radius: 15px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: bold;
    flex-direction: column;
}

.clue-button {
    background-color: #eb8934;
    color: #ffffff
}

.clue-button:hover {
    cursor: pointer;
}

.clue-button.button-disabled {
    background-color: #ffb778;
}

.back-button {
    background-color: #fff;
    color: #eb8934;
    border: 3px solid #eb8934;
}

.back-button:hover {
    cursor: pointer;
}

#player-summary {
    display: flex;
    width: 100%;
    padding: 0;
}

.player-summary-item {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: bold;
    flex-direction: row;
    border: 1px solid black;
}

.player-summary-item.buzzed {
    background-color: #eb8934;
}
